<!-- Bonus Task 3: Create a view for this form in the html of person-form.component.ts that takes the inputs -->
<div>
    Your Input:
    ID: {{id | json}},
    firstName: {{firstName | json}},
    lastName: {{lastName | json}}
</div>

<form
    [formGroup]="personForm">

    <fieldset>

        <div>
            <label for="inputId">ID: </label>
            <input
                #inputId
                placeholder="id"
                formControlName="id"/>
        </div>

        <div>
            <label for="inputFirstName">First Name: </label>
            <input
                #inputFirstName
                placeholder="first name"
                formControlName="firstName"/>
        </div>

        <div>
            <label for="inputLastName">Last Name: </label>
            <input
                #inputLastName
                placeholder="last name"
                formControlName="lastName"/>
        </div>

        <button
            (click)="addPerson(inputId.value, inputFirstName.value, inputLastName.value, people)">
            Add Person
        </button>


    </fieldset>

</form>
